body {
	color:white;
	text-align:center;
	background-color:black;
	}
h1{
	font-family: "IBM Plex Mono";
}
a{
	font-family: "Indie Flower";
	font-size: 30px;
	color: gold;
}
img {
	width: 200px;
	height: 200px;
}

u{
	color: burlywood;
	size: 100px;
}
blockquote{
	font-family: "Raleway";
}
th ,td {
	padding: 15px 15px 15px;
	margin: 0;
	font-size: 25px;
	border: solid 5px azure;
}

ol {
	list-style-type: circle;
}
pre{
	background-color: azure;
	color: black;
}
#banner{
	width: 250px;
	height: 250px;
	position: absolute;
    top: 0px;
    right: 0px;
}

.Projects a{
	color: cornflowerblue;
	font-family: 'Libre Baskerville', monospace;
}

.AlphaLinks a{
	font-family: "Inconsolata", monospace;
	color: orangered;

}
